{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        #poetry-random p {
            font-size: 1.5em;
            letter-spacing: 1px;
            line-height: 1.8em;
        }

        #poetry-random span {
            margin-left: 30%;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            font-size: 0.85em;
            letter-spacing: 1px;
            line-height: 1.8em;
        }
    </style>
{% endblock %}

{% block body %}
    <div role="alert" id="alert">

    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">500</h1>
                <p class="mb-4">系统出现异常.</p>
                <div class="buttons mt-lg-0 mt-3 ml-auto" style="z-index: 999;">
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'home' %}">返回首页</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}