{% extends 'login_base.html' %}
{% load static %}

{% block title %}
    <title>Change</title>
{% endblock %}

{% block body %}
    <div class="content-inner-info">
        <h2>Say Change !!!</h2>
        <div class="content-w3layouts-main">
            <div class="form-w3ls-left-info">
                <form action="javascript:void(0);" method="post">
                    <input type="text" name="username" id="username" placeholder="账户" required/>
                    <input type="password" name="password" id="password" placeholder="原密码" required/>
                    <input type="password" name="password" id="new_password" placeholder="新密码" required/>
                    <input type="password" name="password" id="confirm" placeholder="确认密码" required/>
                    <div class="bottom">
                        <button class="btn" type="button" onclick="change()">修改</button>
                        <button class="btn reg" type="reset">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <div role="alert" id="alert">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function change() {
            let username = $("#username").val();
            let password = $("#password").val();
            let new_password = $("#new_password").val();
            let confirm = $("#confirm").val();
            let ale = $("#alert");
            if (!username || !password || !confirm || !new_password) {
                ale.html("用户名密码不能为空.").addClass("alert-warning").show().delay(1500).fadeOut();
                return
            } else if (password.length < 6 || confirm.length < 6 || new_password.length < 6) {
                ale.html("密码长度不能小于6位.").addClass("alert-warning").show().delay(1500).fadeOut();
                return
            }
            let dataJson = JSON.stringify({
                "username": username,
                "password": password,
                "confirm": confirm,
                "new_password": new_password,
            })
            $.ajax({
                type: "post",
                url: "{% url 'change' %}",
                dataType: "json",
                data: dataJson,
                async: false,
                success: function (result) {
                    console.log(result);
                    let message = result.message;
                    let code = result.code;
                    if (code === 200) {
                        ale.html("修改成功.").addClass("alert-success").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else if (code === 1007) {
                        ale.html("新密码和确认密码输入不一致.").addClass("alert-warning").show().delay(1500).fadeOut();
                    } else if (code === 1005) {
                        ale.html("修改密码和旧密码相同.").addClass("alert-warning").show().delay(1500).fadeOut();
                    } else {
                        ale.html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    ale.html("出现未知异常，请联系Bruce.").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }
    </script>
{% endblock %}
